.three-percent {    margin-top: 3%  }
#game-container { height: 1000px }

#profile-photo {
    float: left;
    height: 195px;
}

#logo-photo {
    float: right;
}

#header {
    margin-top: 0px;
    height: 195px;
    font-size: 100px;
    font-weight: bold;
}

#muppet-name {
    font-size: 30px;
    font-weight: bold;
}

.home-cards {
    font-size: 30px;
    font-weight: bold;
}

.number {   
    font-weight: bold;
    font-size: 55px;
}

.scoreboard-words {
    margin-top: 2%;
    font-size: 55px;
    font-weight: bold;
}

.scoreboard {
    margin-top: 5%;
    font-size: 20px;
    /* font-size: 55px;
     font-weight: bold; */  /*this needs to have the words 'score' and 'timer' to be set to 20px - everything else is ok */
}

#scoreboard-timer {
    height: 100px;
    background-color: #89CFF0;
}

#scoreboard-score {
    height: 100px;
    background-color: #89CFF0;
}

.quiz-card {
    height: 150px;
    margin: 2%;
    font-size: 45px;
    background-color: #89CFF0
}

#answer-card {
    height: 150px;
    margin: 2%;
    font-size: 45px;
    font-weight: bold;
    color: white;
    background-color:#01579b;
}